<html>
<head>
<title>Search Media</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
 <div class="bg">
	<table width="100%" border="0"  cellspacing="0" cellpadding="0">
	   <tr width="100%" >
  		   	<td>&nbsp;</td>  
   			<td  valign="top" height="350">			
				<div class="bgHeader" >
					<div class= "login">
						<img src="images/login.jpg">
					</div>
					 <table cellspacing="0" cellpadding="0">
						<tr>
							<td class="logo">
							 <img src="images/logo.png">
							</td>
						</tr>
					</table>
					
					<div class="frame_search">
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td  valign="top">
									<table cellspacing="0" cellpadding="2">
										<tr>
											<td>
												<img src="images/music_on.jpg" align="right">
											</td>
											<td>
												<img src="images/film.jpg" align="left">
											</td>
											
										</tr>
										<tr>
											<td colspan= "2">
												<input type="text" size="40"></input>
											</td>
											<td>
												<img src="images/search.jpg" align="right">
											</td>											
										</tr>
										
										<tr >
											<td colspan = "2" align="center" >
												<img src="images/search_adv.jpg">
											</td>
									   </tr>
									</table>
								</td> 
							</tr>
						</table>
					</div>
				</div>				
			</td>
		<td>&nbsp;</td>   
	</tr>
  
	<tr>
		<td>&nbsp;</td>
		<td width="780" height="75"> 
			<table  border="1">
			<!-- This is main content -->
				
			<!-- /This is main content -->
			</table>
		</td>
		<td>&nbsp;</td>
	</tr>
  <tr width="100%" >
  <td class="foo" align="center" valign="bottom" colspan="3">
 thanh tam
  </td>
  </tr>

</table>
</div>
</body>
</html>