<html>
<head>
<title>Search Media</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/index.js"  type="text/javascript"></script>
	<link rel="stylesheet" type="text/css"  href="css/style_mac.css" />	
	<script src="js/jquery_mac.js" type="text/javascript" ></script>	
	<script src="js/interface_mac.js" type="text/javascript" ></script>
	
</head>
<body>

		
									<div class="dock" id="dock2" >
									  <div class="dock-container2">
									  <a class="dock-item2" href="#" ><span style="color:#FF0000" >Home</span><img src="images/mac/home.png" alt="home" /></a> 
									  <a class="dock-item2" href="#"><span style="color:#FF0000">Contact</span><img src="images/mac/email.png" alt="contact" /></a> 
									  <a class="dock-item2" href="#"><span style="color:#FF0000">Music</span><img src="images/mac/music.png" alt="music" /></a> 
									  <a class="dock-item2" href="#"><span style="color:#FF0000">Video</span><img src="images/mac/video.png" alt="video" /></a> 
									  <a class="dock-item2" href="#"><span style="color:#FF0000">Top nhạc</span><img src="images/mac/rss.png" alt="rss" /></a> 
									  <a class="dock-item2" href="#"><span style="color:#FF0000" >Top phim</span><img src="images/mac/rss2.png" alt="rss" /></a> 
									  </div>
									</div>		
						
	

	<script type="text/javascript">		
		$(document).ready(
			function()
			{
				$('#dock').Fisheye(
					{
						maxWidth: 50,
						items: 'a',
						itemsText: 'span',
						container: '.dock-container',
						itemWidth: 40,
						proximity: 90,
						halign : 'center'
					}
				)
				$('#dock2').Fisheye(
					{
						maxWidth: 60,
						items: 'a',
						itemsText: 'span',
						container: '.dock-container2',
						itemWidth: 40,
						proximity: 80,
						alignment : 'left',
						valign: 'bottom',
						halign : 'center'
					}
				)
			}
		);
	</script>
		
</body>
</html>