<html>
<head>
<title>Search Media</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">	
		
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/index.js"  type="text/javascript"></script>
	
	<script type="text/javascript" src="js/acc/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="js/acc/ui.core.js"></script>
	<script type="text/javascript" src="js/acc/ui.accordion.js"></script>
	
	<link type="text/css" href="css/acc/ui.all.css" rel="stylesheet" />
	
	<link rel="stylesheet" type="text/css"  href="css/style_mac.css" />		


	<script type="text/javascript">
		$(document).ready(function(){
		$("#accordion").accordion('option','height',"auto");
		$("#accordion").accordion();
		});
	</script>
	<script type="text/javascript" src="swfobject.js"></script>
    <script type="text/javascript" src="flying.js"></script>
</head>
<body>
	
	<div class="bg">
		<table width="100%" border="0"  cellspacing="0" cellpadding="0">
			<tr width="100%" >
				<td>&nbsp;</td>  
				<td  valign="top" height="350">			
					<div class="bgHeader" >
						<div class= "login">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td align="right">														
									
									</td>
								</tr>
							</table>

						</div>
						<table cellspacing="0" cellpadding="0">
							<tr>
								<td class="logo">
								 <img src="images/logo.png">
								</td>
							</tr>
						</table>
						
						<div class="frame_search">
							<table cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td  valign="top">
										<table cellspacing="0" cellpadding="2">
											<tr>
												<td>
													<input type="image" id="music" src="images/music_on.jpg" align="right" onClick="chooseMusic()">
												</td>
												<td>
													<input type="image" id="film" src="images/film.jpg" align="left" onClick="chooseFilm()">
												</td>
												
											</tr>
											<tr>
												<td colspan= "2">
													<input id="textbox_search" type="text" size="40"></input>
												</td>
												<td>
												<!--	<input type="image" src="images/search.jpg" align="right" id="search" onClick="search()">
												-->
													<input type="image" src="images/search.jpg" id="query" align="right"> 
												</td>											
											</tr>
											
											<tr >
												<td  align="right" >
													<input type="image" id="search_adv"  src="images/search_adv_o.jpg"  onclick="search_adv()" >
												</td>
												<td  align="left" >
													<input type="image" id="search_tc"  src="images/search_tc_o.jpg"  onclick="search_tc()" >
												</td>											
										   </tr>									  
										</table>
									</td> 
								</tr>
							</table>
						</div>					
						<div class="search_adv" id= "adv" name="adv" style="visibility: hidden ; height:0px"  >
							<table border="0"  cellpadding="2" cellspacing="0"  align="right" style="font-size:10px">
								
								<tr>
									<td align="left">
										Tên ca sĩ/ diễn viên
									</td>
									<td width="50%"> 
										<input type="text" align="right" id="singer" name="song"  />
									</td>																		 								
								</tr>
								<tr>
									<td align="left">
										Tên album / tên bộ phim
									</td>
									<td width="50%"> 
										<input type="text" align="right" id="album" name="song"  />
									</td>																		 								
								</tr>
								<tr>
									<td align="left">
										Lời bài hát/ phụ đề phim 
									</td>
									<td width="50%"> 
										<input type="text" align="right" id="lyric" name="song"  />
									</td>																		 								
								</tr>
								<tr>
									<td align="left">
										Nguồn
									</td>
									<td width="50%"> 
										<input type="text" align="right" id="site_music" name="song"  />
									</td>																		 								
								</tr>
								<tr>
									<td align="left">
										<input type="button" value="Tìm kiếm" id="bt_search_avd" >
									</td>
									<td width="50%"> 
										<input type="button" value="Đóng lại" id="bt_close" onClick="bt_close()" />
									</td>																		 								
								</tr>
									
							</table>
						</div>	
						<div class="search_tc" id= "tc" name="tc" style="visibility: hidden ; height:0px" >
							<table border="0"  cellpadding="2" cellspacing="0"  align="center" style="font-size:10px">
								<tr>									
									<td width="50%"><input id="tc_m_song" name="tc_m" type="radio" value="" checked="checked" onClick="EnableControls()"/> Tên ca sĩ/ diễn viên</td>
								</tr>
								<tr>									
									<td width="50%"><input id="tc_m_singer" name="tc_m" type="radio" value="" onClick="EnableControls()"/> Tên album / tên bộ phim</td>
								</tr>
								<tr>									
									<td width="50%"><input id="tc_m_lyric" name="tc_m" type="radio" value="" onClick="EnableControls()"/> Lời bài hát/ phụ đề phim </td>
								</tr>
								<tr>									
									<td width="50%"><input id="tc_m_src" name="tc_m" type="radio" value=""  onclick="EnableControls()"/> Nguồn</td>
								</tr>						
										
							</table>				
						</div>								
						<div id="ssb">
						<p>
							 Kết quả
							<b>1</b>
							-
							<b>10</b>
							trong khoảng
							<b>13.100.000</b>
							cho
							<b>Dam Vinh Hung</b>
							. (
							<b>0,22</b>
							giây) 
						</p>
						</div>
						<div class="result">
							<img id="result" src="images/kq.jpg" align="left" height="28">
						</div>

					</div>				
				</td>
				<td>&nbsp;</td>   
			</tr>  
			
			<tr>
				<td>&nbsp;</td>
				<td width="780" height="70"> 
				<form id="show_result" >	
				<!-- This is main content -->				
				<div id="accordion" >
					<h3>
						<a href="#">
							<img src="images/media.jpg" height="40" width="40"> 	
							<label id ="rs_song"  style="font-size:10px" > Ten bai hat : <b style="color:#FF0000;font-size:15px" > Anh va em  </b> </label>	
							<label id ="rs_song"  style="font-size:10px" >Nguon từ : nhaccuatui.com </label>								
						</a>
					</h3>					
						<div >
							<table border="0"  cellpadding="2" cellspacing="0"  align="left" style="font-size:12px">								
								<tr align="left">
									<td align="left" rowspan="4">
									<object width="300" height="61"><param name="movie" value="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><embed width="300" height="61" src="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" quality="high" wmode="transparent" type="application/x-shockwave-flash"></embed>
									</object>							
									</td>
								</tr>
								<tr >
									<td width="160px">Tác giả:<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Anh va em </label>
									</td>
									<td width="60px">Link download<br>
										<label id="rs_src"style="font-size:14px;color:#0000FF" > nhaccuatui.com </label>
									</td>																		
								</tr>
								<tr>
									<td width="60px">Thể loại<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Nhạc nhẹ </label>
									</td>
									<td width="60px">Mã nhúng blog<br>
										<input name="" type="text" value="">
									</td>																																					
								</tr>
								<tr>
									<td width="60px">Nguồn từ:<br>
										
									</td>
															
									<td width="60px">Mã nhúng forum<br>
										<input name="" type="text" value="">
									</td>																		
								</tr>
							</table>									
						</div>				
						<h3>
						<a href="#">
							<img src="images/media.jpg" height="40" width="40"> 	
							<label id ="rs_song"  style="font-size:10px" > Ten bai hat : <b style="color:#FF0000;font-size:15px" > Anh va em  </b> </label>	
							<label id ="rs_song"  style="font-size:10px" >Nguon từ : nhaccuatui.com </label>								
						</a>
					</h3>					
						<div >
							<table border="0"  cellpadding="2" cellspacing="0"  align="left" style="font-size:12px">								
								<tr align="left">
									<td align="left" rowspan="4">
									<object width="300" height="61"><param name="movie" value="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><embed width="300" height="61" src="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" quality="high" wmode="transparent" type="application/x-shockwave-flash"></embed>
									</object>							
									</td>
								</tr>
								<tr >
									<td width="160px">Tác giả:<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Anh va em </label>
									</td>
									<td width="60px">Link download<br>
										<label id="rs_src"style="font-size:14px;color:#0000FF" > nhaccuatui.com </label>
									</td>																		
								</tr>
								<tr>
									<td width="60px">Thể loại<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Nhạc nhẹ </label>
									</td>
									<td width="60px">Mã nhúng blog<br>
										<input name="" type="text" value="">
									</td>																																					
								</tr>
								<tr>
									<td width="60px">Nguồn từ:<br>
										
									</td>
															
									<td width="60px">Mã nhúng forum<br>
										<input name="" type="text" value="">
									</td>																		
								</tr>
							</table>									
						</div>				
						<h3>
						<a href="#">
							<img src="images/media.jpg" height="40" width="40"> 	
							<label id ="rs_song"  style="font-size:10px" > Ten bai hat : <b style="color:#FF0000;font-size:15px" > Anh va em  </b> </label>	
							<label id ="rs_song"  style="font-size:10px" >Nguon từ : nhaccuatui.com </label>								
						</a>
					</h3>					
						<div >
							<table border="0"  cellpadding="2" cellspacing="0"  align="left" style="font-size:12px">								
								<tr align="left">
									<td align="left" rowspan="4">
									<object width="300" height="61"><param name="movie" value="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><embed width="300" height="61" src="http://static.mp3.zing.vn/skins/default/flash/player/mp3Player_skin3.swf?xmlurl=http://mp3.zing.vn/blog/?YS82ZS9hNmVlZTYyODmUsIC5MjY4NGRkMDg1NmQ0NzM0Mzg1YzI0OC5cUIbaBmUsICDN8R2nDs3xUxINdUngZyBLaOG6r2MgSHV5fGZhWeBHNl" quality="high" wmode="transparent" type="application/x-shockwave-flash"></embed>
									</object>							
									</td>
								</tr>
								<tr >
									<td width="160px">Tác giả:<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Anh va em </label>
									</td>
									<td width="60px">Link download<br>
										<label id="rs_src"style="font-size:14px;color:#0000FF" > nhaccuatui.com </label>
									</td>																		
								</tr>
								<tr>
									<td width="60px">Thể loại<br>
										<label id="rs_song" style="font-size:14px;color:#0000FF" > Nhạc nhẹ </label>
									</td>
									<td width="60px">Mã nhúng blog<br>
										<input name="" type="text" value="">
									</td>																																					
								</tr>
								<tr>
									<td width="60px">Nguồn từ:<br>
										
									</td>
															
									<td width="60px">Mã nhúng forum<br>
										<input name="" type="text" value="">
									</td>																		
								</tr>
							</table>									
						</div>				
				  </div>
			</form>
				<!-- /This is main content -->
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr width="100%" >
				<td align="center" valign="top" colspan="3">					
					<div class="foo">
						<table  border="0"  cellpadding="0" cellspacing="2">
							<tr height="50px">
							</tr>											
							<tr width="100%"  >
								<td   align="center" valign="top" >		
								
								</td>		
							</tr>
						</table>
					</div>					
				</td>
			</tr>			
		</table>
	</div>
	
</body>
</html>