sd@charset "utf-8";
/*** General ***/
html{
	height:100%;
}
body{
	font: 12px Arial, Helvetica, sans-serif;
	margin:0px;
	background:#8FC6CD;
	background:url(images/bgBack.jpg) center repeat-y;
}
input{
	font-size:11px;
}
select{
	font-size:11px;
}
.button{
	background:url(images/btnBg.jpg) top repeat-x;
	border:1px solid #000000;
	color:#FFFFFF;
	font-size:11px;
	height:21px;
	padding:0px 5px 3px 5px;
	line-height:10px;
	margin:5px 0px 0px 0px;
	cursor:pointer;
}
.clearthis{
	font-size:0px;
	height:0px;
	line-height:0px;
	clear:both;
}
a{
	color:#006666;
}
a:hover{
	color:#E6700E;
}
.wrap{
	
}
/*** End of General ***/

/***Header***/
.bg{
	background:url(images/bgTop.jpg) top center repeat-x ;
	height:100%;
	padding-top:15px;
	text-align:center;
}
.bgHeader{
	background:url(images/bgTopHeader.jpg) top center no-repeat;
	height:100%;
	width:780px;
	margin:0 auto;
	text-align:left;
}
.spBgHeader{
	background:url(images/bgTopHeader1.jpg) top center no-repeat;
	height:100%;
	width:780px;
	margin:0 auto;
	text-align:left;
}
.logo{
	margin:24px 0px 22px 0px;
	padding-left:26px;
	float:left;
}
.logo img{
	border:0px;
}
.smallNav{
	background:url(images/leftSmallNav.gif) top left no-repeat;
	height:25px;
	line-height:25px;
	float:right;
	margin:5px 5px 0px 0px;
	padding-left:3px;
	font-size:11px;
}
.smallNavRight{
	background:url(images/rightSmallNav.gif) top right no-repeat;
	height:25px;
	line-height:25px;
	float:left;
	padding-right:3px;
}
.smallNavBg{
	background:url(images/backSmallNav.gif) top repeat-x;
	height:25px;
	line-height:25px;
	padding:0px 3px 0px 3px;
	float:left;
}
.smallNavBg span{
	display:inline-block;
	padding-right:3px;
	margin-left:5px;
	color:#333333;
	text-decoration:none;
}
.smallNavBg span a{
	text-decoration:none;
}
.smallNavBg span a:hover{
	text-decoration:underline;
}
.smallNavItem{
	background:url(images/splitSmallNav.gif) center right no-repeat;
	display:inline-block;
	padding-right:7px;
	margin-left:5px;
	color:#333333;
	text-decoration:none;
}
.smallNavItem:hover{
	text-decoration:underline;
}
.flagEng{
	background:url(images/flagEng.jpg) center left no-repeat;
	display:inline-block;
	padding:0px 7px 0px 20px;
	margin-left:5px;
	color:#333333;
	text-decoration:none;
}
.flagEng:hover{
	text-decoration:underline;
}
.nav{
	background:url(images/navLeft.gif) top left no-repeat;
	height:33px;
	line-height:33px;
	padding:0px 0px 0px 4px;
	margin:0px 8px 0px 8px;
	clear:both;
}
.navRight{
	background:url(images/navRight.gif) top right no-repeat;
	height:33px;
	line-height:33px;
	padding:0px 4px 0px 0px;
}
.navBg{
	background:url(images/navBg.gif) top repeat-x;
	height:33px;
	line-height:33px;
	padding:0px 5px 0px 5px;
}
.navItem{
	color:#063F42;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	height:33px;
	line-height:33px;
	margin:0px 18px 0px 5px;
	float:left;
}
.navItem:hover{
	color:#E6700E;;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}
.navItemSelected{
	display:inline-block;
	float:left;
	background:url(images/navItemLeft.gif) top left no-repeat;
	height:23px;
	line-height:23px;
	padding-left:3px;
	margin:5px 20px 0px 5px;
}
.navItemSelected span{
	display:block;
	float:left;
	background:url(images/navItemRight.gif) top right no-repeat;
	height:23px;
	line-height:23px;
	padding-right:3px;
}
.navItemSelected a{
	display:block;
	float:left;
	background:url(images/navItemBack.gif) top repeat-x;
	height:23px;
	line-height:23px;
	color:#E6700E;
	font-weight:bold;
	text-decoration:none;
	padding:0px 4px 0px 4px;
	
}
/***End of Header***/

/***Body**/
.flashBanner{
	margin:5px 8px 0px 8px;
	clear:both;
	height:210px;
}
.flashLeft{
	float:left;
}
.flashRight{
	float:right;
}
.utility{
	background:url(images/utilityBg.jpg) top left no-repeat;
	height:35px;
	width:743px;
	padding-left:20px;
	margin:5px 0px 0px 8px;
	padding-top:15px;
}
.utility img{
	margin:0px 5px -3px 0px;
}
.utility select{
	margin-right:35px;
	width:19%;
	line-height:21px;
}
.utility input{

}
.utilitySearch{
	margin-bottom:-5px;
}
.utility form{
	float:right;
	margin:-20px 5px 0px 0px;
	padding-right:15px;
}
.content{
	margin:10px 0px 0px 0px;
	padding:0px 8px 0px 8px;
	clear:both;
}
.leftCol{
	float:left;
	width:550px;
	font-size:11px;
}
.leftCol1{
	width:49%;
	float:left;
	margin-right:5px;
}
.leftCol2{
	width:49%;
	float:left;
	margin-right:4px;
}
.rightCol{
	float:right;
	width:210px;
}
.boxTitle{
	background:url(images/boxTitleLeft.jpg) top left no-repeat;
	height:27px;
	line-height:27px;
	padding-left:5px;
	clear:both;
	font-size:12px;
}
.boxTitleRight{
	background:url(images/boxTitleRight.jpg) top right no-repeat;
	padding-right:120px;
	padding-left:5px;
	height:27px;
	line-height:27px;
	font-weight:bold;
	color:#FFFFFF;
}
.boxTitleBack{
	background:url(images/boxTitleBg.jpg) top repeat-x;
	height:27px;
	line-height:27px;
}
.tab{
	background:url(images/tabBg.jpg) bottom repeat-x;
	height:27px;
	line-height:27px;
	clear:both;
}
.tab_new{
	background:url(images/tabBg.jpg) bottom repeat-x;
	height:27px;
	line-height:27px;
	clear:both;
}
.tabSelected{
	background:url(images/tabItemSelectedLeft.jpg) top left no-repeat;
	padding:0px 0px 0px 12px;
	height:27px;
	line-height:27px;
	display:inline-block;
	float:left;
	margin-right:5px;
}
.tabSelected span{
	background:url(images/tabItemSelectedRight.jpg) top right no-repeat;
	padding:0px 12px 0px 0px;
	height:27px;
	line-height:27px;
	display:block;
	float:left;
}
.tabSelected b{
	background:url(images/tabItemSelectedBg.jpg) top repeat-x;
	height:27px;
	line-height:27px;
	display:block;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	cursor:default;
	float:left;
	font-size:11px;
	outline: none;
}
.box{
	margin:0px 0px 10px 0px;
}
.boxLeft{
	margin:0px 5px 10px 0px;
}
.tabItem{
	background:url(images/tabItemLeft.jpg) top left no-repeat;
	padding:0px 0px 0px 5px;
	height:27px;
	line-height:27px;
	display:inline-block;
	float:left;
	margin-right:5px;
}
.tabItem span{
	background:url(images/tabItemRight.jpg) top right no-repeat;
	padding:0px 5px 0px 0px;
	height:27px;
	line-height:27px;
	display:block;
	float:left;
}
.tabItem a{
	background:url(images/tabItemBg.jpg) top repeat-x;
	height:27px;
	line-height:27px;
	display:block;
	color:#333333;
	text-decoration:none;
	float:left;
	font-size:11px;
	outline: none;
}
.tabItem a:hover{
	text-decoration:none;
}
.boxContent{
	background:url(images/boxBg.gif) top left no-repeat;
	text-align:center;
}
.boxContent img{
	margin:5px 0px 5px 0px;
}
.boxHeadline{
	background:url(images/boxHlBg.jpg) bottom repeat-x;
	padding:4px 5px 6px 5px;
	margin:0px 1px 0px 1px;
	font-weight:bold;
	text-align:left;
}
.boxBg{
	background:url(images/boxBg1.gif) top repeat-x;
	padding:0px 1px 0px 1px;
}
.boxContent1{
	background:#FFFFFF;
	padding:5px;
}
.boxContent2{
	background:url(images/boxContent1.gif) top left no-repeat;
	padding:5px;
}
.boxContentHeadline{
	color:#006666;
	font-weight:bold;
	text-decoration:none;
	display:block;
	line-height:18px;
	margin-bottom:3px;
	font-size:12px;
}
.boxContentHeadline:hover{
	color:#009B9B;
	text-decoration:none;
}
.figBox{
	background:url(images/imgDrop.jpg) top left no-repeat;
	padding:4px;
	height:60px;
	width:84px;
	margin:3px 3px 0px 0px;
	border:0px;
}
.figBox1{
	background:url(images/imgDrop1.jpg) top left no-repeat;
	padding:4px;
	height:76px;
	width:76px;
	margin:3px 8px 0px 10px;
	border:0px;
}
.wrapDescBox{
	height:140px;
	
}
.descBox{
	
	padding: 0px 0px 0px 0px;
	line-height:18px;
	font-size:12px;
	margin:0px 0px 5px 0px;
}
.otherList1{
    margin-top:0px;
	background:url(images/dot01.gif) top repeat-x;
	font-size:11px;
}
.otherList1 ul{
	margin:6px 0px 0px 0px;
	padding:0px;
}
.otherList1 li{
	margin:0px 0px 0px 20px;
	padding:5px 0px 0px 0px;
}
.otherList1 a{
	color:#006666;
	text-decoration:none;
}
.otherList1 a:hover{
	color:#009B9B;
	text-decoration:none;
}

.otherList{
	font-size:11px;
}
.otherList ul{
	margin:3px 0px 0px 0px;
	padding:0px;
}
.otherList li{
	margin:0px 0px 0px 20px;
	padding:5px 0px 0px 0px;
}
.otherList a{
	color:#006666;
	text-decoration:none;
}
.otherList a:hover{
	color:#009B9B;
	text-decoration:none;
}
.moreRow{
	font-size:11px;
	clear:both;
	height:20px;
	line-height:20px;
	margin-bottom:10px;
}
.moreRow a{
	color:#E6700E;
	display:block;
	float:right;
	background:url(images/arr01.gif) 2px center no-repeat #FFFFFF;
	text-decoration:none;
	font-size:11px;
	padding:0px 10px 0px 10px;
}
.moreRow a:hover{
	text-decoration:underline;
}
.more1{
	width:49%;
	float:left;
	margin-right:5px;
	background:url(images/tabBg.jpg) center repeat-x;
	text-align:right;
	font-size:11px;
}
.more2{
	width:49%;
	float:left;
	margin-right:4px;
	background:url(images/tabBg.jpg) center repeat-x;
	text-align:right;
	font-size:11px;
}
.boxServices{
	margin:0px 5px 10px 0px;
	
}
.boxTitleServices{
	background:url(images/boxTitleLeft.jpg) top left no-repeat;
	height:26px;
	line-height:26px;
	padding-left:5px;
	clear:both;
	font-size:12px;
}
.boxTitleServicesRight{
	background:url(images/boxTitleRight.jpg) top right no-repeat;
	padding-right:120px;
	padding-left:5px;
	height:26px;
	line-height:26px;
	font-weight:bold;
	color:#FFFFFF;
}
.boxTitleServicesBack{
	background:url(images/boxTitleBg.jpg) top repeat-x;
	height:26px;
	line-height:26px;
}
.boxServicesBgTop{
	background:url(images/boxBgTop.jpg) top left no-repeat;
	height:9px;
	line-height:9px;
	width:549px;
	font-size:0px;
}
.boxServicesBgRepeat{
	background:url(images/boxBgRepeat.jpg) left repeat-y;
}
.boxServicesBgContent{
	background:url(images/boxBgContent.jpg) top left no-repeat;
	min-height:18px;
	padding:0px 10px 0px 15px;
	font-size:12px;
	line-height:18px;
}
.boxServicesBgContent img{
	margin-bottom:5px;
}
.boxServicesBgBottom{
	background:url(images/boxBgBottom.jpg) bottom left no-repeat;
	height:14px;
	line-height:14px;
	font-size:0px;
	clear:both;
}
.boxServiceMainCol{
	margin:0px 0px 0px 15px;
	float:left;
}
.boxServiceOtherCol{
	float:right;
	width:190px;
	font-size:11px;
	line-height:15px;
	height:150px;
}
.boxServiceOtherCol ul{
	margin:0px;
	padding:0px;
}
.boxServiceOtherCol li{
	margin:0px 0px 0px 20px;
	padding:0px 0px 5px 0px;
}
.boxServiceOtherCol a{
	color:#006666;
	text-decoration:none;
}
.boxServiceOtherCol a:hover{
	color:#009B9B;
	text-decoration:none;
}
.moreService{
	font-size:11px;
	clear:both;
	height:20px;
	line-height:20px;
	margin:0px 0px 0px 5px;
	background:url(images/tabBg.jpg) center repeat-x;
}
.moreService a{
	color:#E6700E;
	display:block;
	float:right;
	background:url(images/arr01.gif) 2px center no-repeat #FFFFFF;
	text-decoration:none;
	font-size:11px;
	padding:0px 10px 0px 10px;
}
.moreService a:hover{
	color:#E6700E;
	text-decoration:underline;
}
.boxBorder{
	border:1px solid #CCCCCC;
	border-top:none;
	padding:5px;
	height:195px;
}
.verMenu{
	width:105px;
	float:left;
}
.boxBorder ul{
	margin:0px;
	padding:0px;
	width:105px;
	line-height:18px;
}
.boxBorder li{
	list-style:none;
	margin:0px;
	padding:2px 0px 4px 0px;
	background:url(images/splitVN.jpg) bottom right no-repeat;
	text-align:right
}
.boxBorderLink{
	color:#006666;
	text-decoration:none;
	font-size:11px;
}
.boxBorderLink:hover{
	color:#006666;
	text-decoration:underline;
	font-size:11px;
}
.boxBorderSelect{
	color:#006666;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}
.boxBorderSelect:hover{
	text-decoration:none;
}
.moreDowload{
	color:#E6700E;
	background:url(images/arr01.gif) 2px center no-repeat #FFFFFF;
	text-decoration:none;
	font-size:11px;
	padding:0px 0px 0px 10px;
}
.moreDowload:hover{
	color:#E6700E;
	text-decoration:underline;
	font-weight:normal;
}
.boxContentRight{
	float:right;
	width:420px;
}
.arrBox{
	float:right;
}
.arrBox img{
	margin-left:3px;
	border:0px;
}
/*Desc*/
div#descgray{ 
	margin:5px 0px 5px 0px ;
	background: #F7F7F7;
	font-size:11px;
	line-height:18px;
}
#descgray img{
	margin:0px 0px 4px 2px;
}
#descgray ul{
	margin:0px;
	padding:0px;
}
#descgray li{
	margin:0px 0px 0px 20px;
	padding:0px;
}
#descgray span{ 
	display:block;
	padding:0px 5px 0px 5px;
}
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #F7F7F7}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

div#ItemSelected{ 
	margin:0px;
	background: #CFEDF6;
	font-size:11px;
	line-height:18px;
	color:#E6700E;
	font-weight:bold;
	width:120px;
}
#ItemSelected b.rtop, #ItemSelected b.rbottom{display:block;background: #FFF;}
#ItemSelected b.rtop b, #ItemSelected b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #CFEDF6}
#ItemSelected b.r1{margin: 0 5px}
#ItemSelected b.r2{margin: 0 3px}
#ItemSelected b.r3{margin: 0 2px}
#ItemSelected b.rtop b.r4, #ItemSelected b.rbottom b.r4{margin: 0 1px;height: 2px}
#ItemSelected span{
	padding:0px 5px 0px 5px;
	display:block;
}
div#descWhite{ 
	margin:0px;
	background: #FFF;
	font-size:11px;
	line-height:18px;
	color:#333333;
	margin:10px 5% 10px 5%;
}
#descWhite b.rtop, #descWhite b.rbottom{display:block;background: #FFF;}
#descWhite b.rtop b, #descWhite b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #FFF}
#descWhite b.r1{margin: 0 5px}
#descWhite b.r2{margin: 0 3px}
#descWhite b.r3{margin: 0 2px}
#descWhite b.rtop b.r4, #descWhite b.rbottom b.r4{margin: 0 1px;height: 2px}
#descWhite span{
	padding:0px 5px 0px 5px;
	display:block;
}

div#selectDV{ 
	margin:0px;
	background: #D7F0F4;
	font-size:11px;
	line-height:18px;
	color:#333333;
	margin:0px 5px 80px 5px;
	float:right;
	width:340px;
}
div#selectDV span{
	padding:5px 10px 5px 10px;
	font-weight:bold;

}
div#selectDV span select{
	margin:0px 0px 0px 5px;
	font-weight:normal;
}
#selectDV b.rtop, #selectDV b.rbottom{display:block;background: #FFF;}
#selectDV b.rtop b, #selectDV b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #D7F0F4}
#selectDV b.r1{margin: 0 5px}
#selectDV b.r2{margin: 0 3px}
#selectDV b.r3{margin: 0 2px}
#selectDV b.rtop b.r4, #selectDV b.rbottom b.r4{margin: 0 1px;height: 2px}
#selectDV span{
	padding:0px 5px 0px 5px;
	display:block;
}

div#selectRoaming{ 
	margin:0px;
	background: #D7F0F4;
	font-size:11px;
	line-height:18px;
	color:#333333;
	margin:10px 5px 5px 5px;
	width:350px;
}
div#selectRoaming span{
	padding:5px 10px 5px 10px;
	font-weight:bold;

}
div#selectRoaming span select{
	margin:0px 0px 0px 5px;
	font-weight:normal;
}
#selectRoaming b.rtop, #selectRoaming b.rbottom{display:block;background: #FFF;}
#selectRoaming b.rtop b, #selectRoaming b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #D7F0F4}
#selectRoaming b.r1{margin: 0 5px}
#selectRoaming b.r2{margin: 0 3px}
#selectRoaming b.r3{margin: 0 2px}
#selectRoaming b.rtop b.r4, #selectRoaming b.rbottom b.r4{margin: 0 1px;height: 2px}
#selectRoaming span{
	padding:0px 5px 0px 5px;
	display:block;
}

div#STBoxBid{ 
	margin:0px;
	background:#D7F0F4;
	font-size:11px;
	line-height:10px;
	color:#333333;
	margin:0px 5px 0px 5px;
	line-height:15px;
}
div#STBoxBid span{
	padding:5px 10px 5px 10px;
	font-weight:bold;

}
div#STBoxBid span select{
	margin:0px 0px 0px 5px;
	font-weight:normal;
}
#STBoxBid b.rtop, #STBoxBid b.rbottom{display:block;background: #FFF;}
#STBoxBid b.rtop b, #STBoxBid b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #D7F0F4}
#STBoxBid b.r1{margin: 0 5px}
#STBoxBid b.r2{margin: 0 3px}
#STBoxBid b.r3{margin: 0 2px}
#STBoxBid b.rtop b.r4, #STBoxBid b.rbottom b.r4{margin: 0 1px;height: 2px}
#STBoxBid span{
	padding:0px 5px 0px 5px;
	display:block;
}
/*End of Desc*/

.tabFull{
	background:url(images/tabItemSelectedLeft.jpg) top left no-repeat;
	padding:0px 0px 0px 12px;
	height:27px;
	line-height:27px;

}
.tabFull_new{
	background:url(images/tabItemSelectedLeft.jpg) top left no-repeat;
	padding:0px 0px 0px 12px;
	height:27px;
	line-height:27px;

}
.tabFull span{
	background:url(images/tabItemSelectedRight.jpg) top right no-repeat;
	padding:0px 12px 0px 0px;
	height:27px;
	line-height:27px;
	display:block;
}
.tabFull b{
	background:url(images/tabItemSelectedBg.jpg) top repeat-x;
	height:27px;
	line-height:27px;
	display:block;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	cursor:default;
	font-size:11px;
	outline: none;
}


.tabFullContent{
	border:1px solid #CCCCCC;
	border-top:none;
	padding:5px;
	margin-bottom:10px;
}
.tabFullContent form{
	margin:0px;
}
.voteFullContent{
	border:1px solid #CCCCCC;
	border-top:none;
	padding:5px;
	margin-bottom:10px;
}
.voteFullContent a{
	font-size:11px;
}

.tabFullContent a{
	background:url(images/bullet1.gif) left 5px no-repeat;
	text-indent:10px;
	display:block;
	margin-bottom:8px;
}
.tabFullContent input, .tabFullContent select{
	margin-bottom:3px;
}
.buttonSmall{
	background:url(images/btnBg.jpg) top repeat-x;
	border:1px solid #000000;
	color:#FFFFFF;
	font-size:11px;
	height:21px;
	padding:0px 5px 3px 5px;
	line-height:10px;
	margin:5px 0px 0px 0px;
	cursor:pointer;
	width:50px;
}
/*Path*/
.path{
	font-size:11px;
	margin-bottom:5px;	
}
.path a{
	text-decoration:none;
}
/*End of Path*/
/*Ad*/
.ad125{
	text-align:center;
}
.ad125 img{
	margin-bottom:3px;
}
.ad180x150{
	text-align:center;
	border:none;
}
.ad180x150 img{
	margin-bottom:3px;
}
.ad120x240{
	text-align:center;
}
.ad120x240 img{
	margin:3px 0px 3px 0px;
}
/*End of Ad*/

/*Page*/
.page{
	clear:both;
	padding:10px 5px;
	height:20px;
	line-height:20px;
	margin:5px 0px 5px 0px;
	background:url(images/dot01.gif) top repeat-x;
}
.pageBtn{
	margin-bottom:-5px;
	border:0px;
}
.pageSelect{
	background:#666666;
	border:1px solid #999999;
	color:#FFFFFF;
	font-weight:bold;
	line-height:17px;
	height:17px;
	padding:0px 5px 0px 5px;
	text-decoration:none;
	margin:0px 4px 0px 4px;
}
.pageSelect:hover{
	text-decoration:none;
}
.pageItem{
	background:#FFFFFF;
	border:1px solid #999999;
	color:#333333;
	font-weight:bold;
	line-height:17px;
	height:17px;
	padding:0px 5px 0px 5px;
	text-decoration:none;
	margin:0px 4px 0px 4px;
}
.pageItem:hover{
	text-decoration:none;
	background:#666666;
	color:#FFFFFF;
}
.genCatPage{
	background:url(images/dot01.gif) top repeat-x;
	clear:both;
	text-align:center;
	padding-top:10px;
	padding-bottom:5px;
}
.genCatPageUti{
	float:left;
	font-size:11px;
}
.genCatPageUti a{
	color:#003399;
	text-decoration:none;
	margin-right:5px;
}
.genCatPageUti a:hover{
	color:#003399;
	text-decoration:underline;
}
.genCatPageUti img{
	margin-right:5px;
}
.genCatPageItem{
	text-decoration:none;
	color:#333333;
	margin:0px 3px 0px 3px;
	border:1px solid #FFFFFF;
	padding:0px 3px 0px 3px;
}
.genCatPageItem:hover{
	text-decoration:none;
	color:#FFFFFF;
	margin:0px 3px 0px 3px;
	background:#666666;
	border:1px solid #666666;
	padding:0px 3px 0px 3px;
}
.genCatPageItemS{
	text-decoration:none;
	color:#FFFFFF;
	margin:0px 3px 0px 3px;
	font-weight:bold;
	background:#666666;
	border:1px solid #666666;
	padding:0px 3px 0px 3px;
}
.genCatPageItemS:hover{
	text-decoration:none;
	color:#FFFFFF;
	margin:0px 3px 0px 3px;
	padding:0px 3px 0px 3px;
}
.genCatPagePN{
	background:#FFFFFF;
	margin:0px 3px 0px 3px;
	padding:0px 3px 0px 3px;
	text-decoration:none;
	color:#333333;
	border:1px solid #666666;
}
.genCatPagePN:hover{
	text-decoration:none;
	color:#FFFFFF;
	margin:0px 3px 0px 3px;
	background:#666666;
	border:1px solid #666666;
	padding:0px 3px 0px 3px;
}
.genCatPageBack{
	background:#FFFFFF;
	margin:0px 3px 0px 3px;
	padding:0px 3px 0px 3px;
	text-decoration:none;
	color:#333333;
	border:1px solid #666666;
	float:right;
}
.genCatPageBack:hover{
	text-decoration:none;
	color:#FFFFFF;
	margin:0px 3px 0px 3px;
	background:#666666;
	border:1px solid #666666;
	padding:0px 3px 0px 3px;
}
/*End of Page*/

.congrat{
	color:#E6700E;
	font-weight:bold;
	font-size:14px;
	display:block;
	text-align:center;
	margin:10px 0px 10px 0px;
}
.congratDesc{
	text-align:center;
	display:block;
	line-height:18px;
	margin:0px 0px 20px 0px;
}
.congratDesc select{
	margin:5px 5px 0px 5px;
}
.congratDesc a{
	text-decoration:none;
	font-size:11px;
}
.congratDesc input{
	margin:10px;
}
/*Left Navigation*/
.mobUtiContent{
	background:url(images/moLeftBg.jpg) repeat-y left;
	padding:0px 0px 0px 3px;
}
.mobUtiContent ul{
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-size:12px;
	border-top:1px solid #E8ECF0;
	width:137px;
}
.mobUtiContent li{
	margin:0px 3px 0px 0px;
	padding:0px 0px 0px 0px;
	background:url(images/menuItem.jpg) top repeat-x #EFF1F4;
	border:1px solid #E8ECF0;
	border-top:none;
}
.mobUtiContentItem{
	padding:4px;
	display:block;
	color:#006666;
	text-decoration:none;
}
.mobUtiContentItem:hover{
	color:#FF6600;
	text-decoration:none;
}
.mobUtiContentItemSubS{
	padding:4px 4px 4px 15px;
	display:block;
	color:#E6700E;
	text-decoration:none;
	background:url(images/arr03.gif) 5px center no-repeat #FFFFFF;
}
.mobUtiContentItemSubS:hover{
	color:#FF6600;
	text-decoration:none;
}
.mobUtiContentItemSub{
	padding:4px 4px 4px 15px;
	display:block;
	color:#006666;
	text-decoration:none;
	background:#FFFFFF;
}
.mobUtiContentItemSub:hover{
	color:#FF6600;
	text-decoration:none;
}
.mobUtiContentItemS{
	padding:4px;
	display:block;
	color:#E6700E;
	font-weight:bold;
	text-decoration:none;
	/*background:url(images/arr02.gif) 115px center no-repeat;*/	
}
.mobUtiContentItemS:hover{
	color:#FF6600;
	text-decoration:none;
}
/*End of Left Navigation*/
/*Popup*/
.pop{
	background:url(images/bgPop.jpg) top repeat-x #EAF4F5;
	text-align:center;
	margin:10px 10% 10px 10%;
	width:80%;
}
.pop td{ 
	padding:0px 0px 0px 10px;
	text-align:left;
	line-height:25px;
}
.popTitle{
	background: url(images/bgPopTitle.jpg) top left no-repeat #FFF;
	/*width:549px;
	padding:0px 35px 0px 10px;*/
	padding:0px 1px 10px 1px;
	margin:20px 0px 0px 0px;
	width:481px;
	text-align:center;
}
/*Popup*/

/***End of Body**/

/***Footer***/
.foo{
	background:url(images/FooterBg.jpg) center top no-repeat #8FC5CC;
	clear:both;
	font-size:11px;
	padding:0px 0px 0px 0px;
}
.fooAd{
	text-align:center;
	margin:0px 0px 30px 0px;
	padding:30px 0px 0px 0px;
	border:none;
	clear:both;
}
.fooLink{
	text-align:center;
	padding:5px 0px 5px 0px;
	clear:both;
}
.fooLink a{
	color:#006666;
	text-decoration:none;
}
.fooLink a:hover{
	color:#009B9B;
	text-decoration:none;
}
.fooCopyright{
	font-size:11px;
	text-align:center;
	padding:10px 0px 10px 0px;
	clear:both;
	position:relative;
}
.fooCopyright a{
	color:#FFFF00;
	text-decoration:underline;
}
.fooCopyright a:hover{
	color:#FFFF00;
	text-decoration:underline;
}
/***End of Footer***/
/***Search page***/
.searchContent{
	margin:0px 8px 5px 8px;
	padding:0px 8px 0px 8px;
	clear:both;
	background:#FFFFFF
}
.searchContentResultTop{
	background:#E4ECED;
	border-top:1px solid #B8C5C9;
	line-height:20px;
	padding-left:5px;
	margin-bottom:10px;
	margin-top:10px;
	text-align: right;
	padding-right: 5px;
}
.searchContentResultBottom{
	background:#E4ECED;
	border-bottom:1px solid #B8C5C9;
	line-height:20px;
	padding-left:5px;
	margin-bottom:10px;
}
.searchContentResult{
}
.searchContentResult ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.searchContentResult ul a{
	font-size:14px;
}
.searchContentResult ul li{
	margin:10px 0px 10px 0px;
	padding:0px;
	clear:both;
}
.searchContentResult ul li ul li{
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	clear:none;
}
.searchContentResult ul li ul li span{
	color:#66CC00;
	float:left;
	margin-right:5px;
}
.searchDate{
	color:#999999;
	float:left;
	display:block;
}
.searchContentResult p{
	margin:0px;
}
.rssPage p{
	margin:5px 0px 5px 0px;
}
.rssPageContent{
	margin:0px 8px 5px 8px;
	padding:0px 8px 0px 8px;
	clear:both;
	background:#FFFFFF;
	line-height:18px;
}
/***End of Search page***/

/***Intro page***/
.introBanner{
	margin:5px 8px 0px 8px;
	clear:both;
}
.introductionWrap{
	background:url(images/IntroductionMenuBg.jpg) top right repeat-y;
}
.introductionMenu{
	background:url(images/introductionTop.jpg) top right no-repeat;
	padding-top:24px;
	text-align:right;
}
.introductionBottom{
	background:url(images/introductionBottom.jpg) bottom right no-repeat;
	padding-bottom:50px;
}
.introductionItemS{
	background:url(images/IntroductionItemS.jpg) top right no-repeat #FFFFFF;
	line-height:30px;
	padding:0px 5px 0px 5px;
	font-weight:bold;
}
.introductionItemS a{
	text-decoration:none;	
	font-weight: bold;
}
.introductionItem{
	line-height:30px;
	padding:0px 5px 0px 5px;
	font-weight:normal;
	font-size:11px;
	
}
.introductionItem a{
	text-decoration:none;
	color:#666666;
}
/***End of Intro page***/
/***Thu vien anh***/
.TVABox{
	background:url(images/tvaTitle.jpg) top left no-repeat;
	width:208px;
	float:left;
	margin:10px 30px 10px 30px;
}
.TVABoxTitle{
	line-height:52px;
	height:52px;
	font-weight:bold;
	color:#FFFFFF;
	padding:5px 0px 0px 10px;
}
.TVAImgBox{
	background:url(images/imgTitle.jpg) top left no-repeat;
	width:208px;
	float:left;
	margin:5px 20px 0px 20px;
	padding:17px 0px 0px 0px;
}

.TVA{
	background:url(images/Thuvienanh.jpg) top left no-repeat;
	padding:57px 0px 0px 0px;
	width:208px;
	float:right;
	margin:5px 0px 0px 0px;
}
.TVAContent{
	background:url(images/TVTBBg.jpg) left repeat-y;
	width:208px;
	clear:both;
	text-align:center;
}
.TVAContent div img{
	margin-bottom:5px;
	clear:both;
	border:1px solid #666666;
}
.TVAContentDetails{
	clear:both;
	text-align:center;
	margin:20px 0px 20px 0px;
}
.TVAContentDetails img{
	border:1px solid #333333;
}
.TVTBBottom{
	background:url(images/TVTBBottom.jpg) bottom left no-repeat;
	height:14px;
	line-height:14px;
	width:208px;
	clear:both;
}
.newsBoxContentBtn{
	float:right;
	position:relative;
}
.newsBoxContentBtn img{
	margin:0px 3px 0px 3px;
}
.pageDetails{
	text-align:center;
	margin-top:10px;
}
.pageDetails img{
	margin:0px 5px 0px 5px;
}
.descBox1{
	width:75%;
	margin:0px 60px 0px 60px;
}
/***End of Thu vien anh***/

/***Splash page***/
.splashContent{
	margin:0 auto;
	width:625px;
}
.spRaw{
	clear:both;
}
.spBox{
	width:200px;
	height:230px;
	float:left;
	margin:0px 3px 0px 3px;
	display:block;

}
.spBoxTitle{
	background:url(images/spTitle.gif) top left no-repeat;
	padding:5px 0px 0px 10px;	
	font-weight:bold;
	line-height:21px;
	height:22px;
}
.spBoxContent{
	background:url(images/spBg.gif) left repeat-y;
	text-align:center;
	line-height:20px;
}
.spBoxContent span{
	display:block;
	text-align:left;
	padding:5px 8px 5px 8px;
}
.spBoxBottom{
	background:url(images/spBottom.gif) bottom left no-repeat;
	padding-bottom:7px;
}
/***End of Splash page***/


#gioitieu #tintop_title {
	color:#E6700E;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin:5px 0px;
}
