body{text-align:center;bgcoler:#FFFFFF}DIV.body_container{text-align:left;margin:0 auto;width:759px;}DIV.site_header{display:none;}.none{display:none;}H1.site_title{display:none;font-weight:normal;font-family:arial;font-size:72px;color:#BDDC29;margin:0;}B.site_title{font-weight:normal;color:#9DB724;}DIV.site_logo{width:660px;text-align:center;}IMG.site_logo{border:0;margin-left:80px;margin-bottom:0;margin-top:5px;}H2{margin:0;}SPAN{font-family:tahoma,Sans-Serif;font-size:11px;margin:0;}.white{color:#143A8D;}FORM{margin:0;font-size:11px;font-family:tahoma,Sans-Serif;color:#444;margin:0;margin-bottom:2px;line-height:16px;}FORM.chooser_form{height:20px;padding:0;margin-top:5px;margin-bottom:2px;} DIV.campo_entrada_url_out{background:#FFF;float:left;padding:2px;}INPUT.campo_entrada_url{float:left;width:492px;height:20px;border:1px solid #7F9DB9;font-family:tahoma,Sans-Serif;font-size:12px;padding-left:3px;padding-top:2px;color:#3A94BA;}INPUT.campo_entrada_submit{float:left;background:url('botdl2.gif') no-repeat;height:24px;width:82px;border:0;margin-left:5px;text-indent:-9999px;cursor:pointer;}SPAN.chooser_inst{}SPAN.chooser_inst_hide{display:none;}SMALL.selector_info{font-size:10px;font-family:tahoma,Sans-Serif;color:#143A8D;}SMALL.selector_info1{font-size:11px;font-family:tahoma,Sans-Serif;color:#143A8D;}SMALL.selector_info_hide{font-size:10px;font-family:tahoma,Sans-Serif;color:#143A8D;display:none;}DIV.contenedor_principal{margin-top:10px;width:759px;background-color:#BDD6EA;border-top:0;padding:1px;}DIV.contenedor_principal_inner{padding:10px;border:1px solid #FFF;background-color:#ECF3F9;}DIV.panel_visible{display:block;}DIV.panel_invisible{display:none;}DIV.contenedor_paneles{background-color:#BDD6EA;width:759px;padding:1px 0;float:left;margin-top:0;}DIV.contenedor_paneles_header{background-color:#ECF3F9;border:1px solid #FFF;margin:0 1px;}DIV.contenedor_paneles_header H2{color:#143A8D;padding:7px 10px;margin:0;border:0;}DIV.contenedor_paneles_inner{background-color:#FBFBFB;margin:0 1px;border:1px solid #FFF;border-width:0 1px 1px 1px;padding:8px 10px;overflow:auto;overflow-x:auto;overflow-y:show;}H2{font-size:12px;font-family:tahoma,Sans-Serif;color:#666;border-bottom:1px dotted #CCC;padding-bottom:10px;margin:0;margin-bottom:0;}H3{font-size:11px;font-family:tahoma,Sans-Serif;color:#444;margin:0;margin-bottom:2px;margin-top:13px;}P{font-size:11px;font-family:tahoma,Sans-Serif;color:#444;margin:0;margin-bottom:2px;line-height:16px;}P.t{color:#C64949;}P.i{color:#369;}A{color:#369;outline:0;}A:visited{color:#369;}A:hover{text-decoration:none;}A.x{color:#336699;}A.x:visited{color:#336699;}A.t{color:#C64949;}A.t:visited{color:#C64949;}A.m{color:#FFF;}A.m:visited{color:#FFF;}A.d{color:#888;}A.d:visited{color:#888;}B.error{font-weight:normal;color:#888;}TABLE.top_20_url{margin:0;border-width:0;border-collapse:collapse;width:727px;margin-top:8px;}TABLE.top_20_url TD.url{font-weight:bold;color:#444;padding-top:6px;padding-bottom:6px;}TABLE.top_20_url TD.site_url{font-weight:bold;color:#444;padding-left:15px;padding-top:6px;padding-bottom:6px;width:60px;}TABLE.top_20_url IMG{width:120px;height:90px;float:left;margin-right:8px;margin-bottom:2px;margin-top:4px;padding:1px;border:1px solid #BDD6EA;}TABLE.top_20_url P.small_desc{font-size:10px;line-height:14px;}TABLE.top_20_url TD.right{padding-left:15px;}TABLE.top_20_url TD{font-family:tahoma,Sans-Serif;font-size:11px;padding:0;vertical-align:top;padding-top:6px;padding-bottom:6px;border-bottom:1px dotted #BDD6EA;}DIV.top20_container{background-color:#DDD;width:759px;margin-top:50px;padding:1px 0;float:left;margin-bottom:15px;}DIV.top20_container_inner{background-color:#FFF;margin:0 1px;padding:10px;}DIV.selector_site_2_out{float:left;background-color:#FFF;padding:2px;padding-left:1px;}SELECT.selector_site_2{float:left;margin:0;margin-left:0;width:145px;height:18px;border:1px solid #7F9DB9;font-family:tahoma,Sans-Serif;font-size:12px;padding-left:1px;padding-top:0;color:#3A94BA;}DIV#process{width:1px;height:1px;position:absolute;left:-20px;top:-20px;overflow:hidden;}DIV.publi{width:180px;padding:1px 0;float:right;margin-left:15px;margin-top:5px;}    #tabsD{float:left;width:100%;font-size:93%;line-height:normal;}    #tabsD ul{margin:0;padding:10px 10px 0 20px;list-style:none;}    #tabsD li{display:inline;margin:0;padding:0;cursor:pointer;}    #tabsD a{float:left;background:url("tableft1.gif") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none;}    #tabsD a span{float:left;display:block;background:url("tabright1.gif") no-repeat right top;padding:5px 15px 4px 6px;color:#143A8D;}        #tabsD a span{float:none;}        #tabsD a:hover span{color:#143A8D;}    #tabsD a:hover{background-position:0% -42px;}    #tabsD a:hover span{background-position:100% -42px;}            #tabsD .pestagna_activa2 a{background-position:0% -42px;font-weight:bold;}          #tabsD .pestagna_activa2 a span{background-position:100% -42px;font-weight:bold;}               DIV.contenedor_interior_descargas{background-color:#FBFBFB;margin:0 1px;border:1px solid #FFF;border-width:0 1px 1px 1px;padding:8px 10px;overflow:auto;overflow-x:auto;overflow-y:show;}DIV.progress{} DIV.cuadro_descargas{background-color:#BDD6EA;width:759px;padding:1px 0;float:left;margin-top:15px;display:none;}DIV.cuadro_descargas_cabecera{background-color:#ECF3F9;border:1px solid #FFF;margin:0 1px;}DIV.cuadro_descargas_cabecera H2{color:#143A8D;padding:7px 10px;margin:0;border:0;}DIV.stats{width:759px;padding:1px 0;float:left;margin-top:15px;display:none;text-align:center}
DIV.publi{width:759px;padding:1px 0;float:left;margin-top:10px;} 

 #truco {
       width: 0px;
       height: 0px;
       display: inline;
       background-image: url('botdl.gif');
       background-image: url();
} 

#pagebar {

	/*width: 750px;

	height: 35px;

	position: absolute;

	margin: 5px;

	background-color: #FFF;*/
	
	width: 500px;
margin-top: -5px;
margin-left: -10px;
margin-bottom: -3px;
	/*height: 0px;*/

	position: relative;

	/*margin: -11px;*/
	
}



#pagebar a {

	font-family: sans-serif;

	text-decoration: none;

	color: #CC0000;

	font-size: 14px;

	font-weight: bolder;

	display: block;

	float: left;

	padding: 8px 15px 0px 15px;

	border-right: 1px #CCC solid;

	text-align: center;

	height: 20px;

}



#pagebar a:hover {

	/*nothing pretty so we dont break paths to files */

	background-color: #CC0000;

	color: #FFF;

	text-decoration: none;

}



#pagebar li {

	list-style:none;

}



li.page_item {

	display: inline;

}
 
/*
TABLE.top_20_url TD.paginaizq{font-weight:bold;color:#444;padding-top:6px;padding-bottom:6px;border:0px;}
TABLE.top_20_url TD.paginader{font-weight:bold;color:#444;padding-left:15px;padding-top:6px;padding-bottom:6px;width:60px;border:0px;}
TABLE.top_20_url IMG.pagina{width:25px;height:25px;float:left;margin-right:8px;margin-bottom:2px;margin-top:4px;padding:1px;border:0px;valign=middle}  
*/
.pagina{width:25px;height:25px;border:0px;align=middle}  

/*DIV.idioma{width:60px;text-align:right;}
IMG.idioma{border:0;margin-left:80px;margin-bottom:0;margin-top:5px;}*/
DIV.idioma{width:16px;text-align:right;float:right;margin-top:3px;}
IMG.idioma{border:0;margin-top:3px;}